target/
target/classes/com/practice/leetcode/leetcode_practice/LC1469_LonelyNode$TreeNode.class
target/classes/com/practice/leetcode/leetcode_practice/LC1469_LonelyNode.class
target/classes/com/practice/leetcode/leetcode_practice/LC1022_SumRootToLeaf$TreeNode.class
target/classes/com/practice/leetcode/leetcode_practice/LC1022_SumRootToLeaf.class
target/classes/com/practice/leetcode/leetcode_practice/LC0965_UnivaluedBinaryTree$TreeNode.class
target/classes/com/practice/leetcode/leetcode_practice/LC0965_UnivaluedBinaryTree.class
target/classes/com/practice/leetcode/leetcode_practice/LC0938_RangeSumBST$TreeNode.class
target/classes/com/practice/leetcode/leetcode_practice/LC0938_RangeSumBST.class
target/classes/com/practice/leetcode/leetcode_practice/LC0872_LeafSimilarTree$TreeNode.class
target/classes/com/practice/leetcode/leetcode_practice/LC0872_LeafSimilarTree.class
target/classes/com/practice/leetcode/leetcode_practice/LC0617_MergeBinaryTrees$TreeNode.class
target/classes/com/practice/leetcode/leetcode_practice/LC0617_MergeBinaryTrees.class
target/classes/com/practice/leetcode/leetcode_practice/LC0590_NaryPostOrder$Node.class
target/classes/com/practice/leetcode/leetcode_practice/LC0590_NaryPostOrder.class
target/classes/com/practice/leetcode/leetcode_practice/LC0559_MacDepthNaryTree$Node.class
target/classes/com/practice/leetcode/leetcode_practice/LC0559_MacDepthNaryTree.class
target/classes/com/practice/leetcode/leetcode_practice/LC0226_InvertBinaryTree$TreeNode.class
target/classes/com/practice/leetcode/leetcode_practice/LC0226_InvertBinaryTree.class
target/classes/com/practice/leetcode/leetcode_practice/LC0104_BinaryTreeHeight$TreeNode.class
target/classes/com/practice/leetcode/leetcode_practice/LC0104_BinaryTreeHeight.class
target/classes/com/practice/leetcode/leetcode_practice/CTCI04_TREES_GRAPHS$TreeNode.class
target/classes/com/practice/leetcode/leetcode_practice/CTCI04_TREES_GRAPHS.class
target/classes/com/practice/leetcode/leetcode_practice/CTCI03_STACK_QUEUES.class
target/classes/com/practice/leetcode/leetcode_practice/CTCI02_LINKEDLIST$ListNode.class
target/classes/com/practice/leetcode/leetcode_practice/CTCI02_LINKEDLIST.class
target/classes/com/practice/leetcode/leetcode_practice/LC0637_AvgOfLevels.class
target/classes/com/practice/leetcode/leetcode_practice/LC0637_AvgOfLevels$TreeNode.class
target/classes/com/practice/leetcode/leetcode_practice/LC0669_TrimTree.class
target/classes/com/practice/leetcode/leetcode_practice/LC0669_TrimTree$TreeNode.class
